<form name="lobby" class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 ng-bind="lobbySettings.name||Untitled"></h1>
			
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Color</th>
						<th>Ready</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in players track by $index">
						<td ng-if="!player" colspan="3">Open</td>
						<td ng-if="player && $index != playerIndex" ng-bind="player.name"></td>
						<td ng-if="player && $index == playerIndex">
							<input name="player[]" type="text" ng-model="player.name" class="form-control" maxlength="8" required>
						</td>
						<td ng-if="player && $index != playerIndex" ng-bind="player.color | snakeColor" class="snake-color-{{player.color}}"></td>
						<td ng-if="player && $index == playerIndex">
							<select ng-model="player.color" class="form-control">
								<option value="1" ng-bind="1|snakeColor" class="snake-color-1"></option>
								<option value="2" ng-bind="2|snakeColor" class="snake-color-2"></option>
								<option value="3" ng-bind="3|snakeColor" class="snake-color-3"></option>
								<option value="4" ng-bind="4|snakeColor" class="snake-color-4"></option>
								<option value="5" ng-bind="5|snakeColor" class="snake-color-5"></option>
								<option value="6" ng-bind="6|snakeColor" class="snake-color-6"></option>
							</select>
						</td>
						<td ng-if="player && $index != playerIndex">{{player.ready | yesno}}</td>
						<td ng-if="player && $index == playerIndex"><input type="checkbox" ng-model="player.ready" ng-disabled="player.name.length == 0"></td>
					</tr>
				</tbody>
			</table>
			<a href="#" ng-click="startGame()" class="btn btn-primary" ng-if="playerIndex == 0" ng-disabled="!ready || lobby.$invalid">Start game</a>
			<a ng-if="lobbySettings.local" ui-sref="mainmenu" class="btn btn-default">Leave lobby</a>
			<a ng-if="!lobbySettings.local" ui-sref="browse" class="btn btn-default">Leave lobby</a>
		</div>
		<div class="col-md-4" style="padding-top: 20px;">
			<div class="row">
				<div class="thumbnail col-md-8 col-md-offset-2">
					<img ng-src="lobby-asset/maps/{{lobbySettings.map}}.png">
					<div class="caption">
						<div ng-if="playerIndex == 0" class="pull-right">
							<a class="btn btn-sm btn-default" ng-click="selectMap()">Change</a>
						</div>
						<strong>Map:</strong> {{lobbySettings.map|ucfirst}}
					</div>
				</div>
			</div>
			<div class="form-group" ng-if="playerIndex == 0 && !lobbySettings.local">
				<label class="control-label" for="lobbyName">Lobby name</label>
				<input type="text" id="lobbyName" class="form-control" ng-model="lobbySettings.name" maxlength="24">
			</div>
			<div class="form-group" ng-class="{'has-error': lobby.scoreLimit.$invalid}">
				<label class="control-label" for="scoreLimit">Score limit</label>
				<input name="scoreLimit" id="scoreLimit" type="number" class="form-control" ng-model="lobbySettings.scoreLimit" min="1" ng-disabled="playerIndex != 0">
				<p class="help-block">Game will wins after any snake reached a score threshold (0=no limit)</p>
			</div>
			<div class="form-group" ng-class="{'has-error': lobby.itemLimit.$invalid}">
				<label class="control-label" for="itemLimit">Item limit</label>
				<input name="itemLimit" id="itemLimit" type="number" class="form-control" ng-model="lobbySettings.itemLimit" min="1" ng-disabled="playerIndex != 0">
				<p class="help-block">Game will ends after a number of items collected (0=no limit)</p>
			</div>
			<div class="form-group" ng-class="{'has-error': lobby.fragLimit.$invalid}">
				<label class="control-label" for="fragLimit">Respawn limit</label>
				<input name="fragLimit" id="fragLimit" type="number" class="form-control" ng-model="lobbySettings.fragLimit" min="0" ng-disabled="playerIndex != 0">
				<p class="help-block">Snake will be removed from play after being killed a number of time (0=no limit, 1=no continue, 2=1 continue)</p>
			</div>
			<div class="form-group">
				<label>
					<input type="checkbox" ng-model="lobbySettings.perk" ng-disabled="playerIndex != 0"> 
					Spawn special items
				</label>
			</div>
		</div>
	</div>
</form>
<!-- trigger child controller to fire -->
<div ui-view></div>