<form name="lobby" class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 ng-bind="lobbySettings.name||Untitled"></h1>
			
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Color</th>
						<th>Ready</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in players track by $index">
						<td ng-if="!player" colspan="3">Open</td>
						<td ng-if="player && $index != playerIndex" ng-bind="player.name"></td>
						<td ng-if="player && $index == playerIndex">
							<input name="player[]" type="text" ng-model="player.name" class="form-control" maxlength="8" required>
						</td>
						<td ng-if="player && $index != playerIndex" ng-bind="player.color | snakeColor" class="snake-color-{{player.color}}"></td>
						<td ng-if="player && $index == playerIndex">
							<select ng-model="player.color" class="form-control">
								<option value="1" ng-bind="1|snakeColor" class="snake-color-1"></option>
								<option value="2" ng-bind="2|snakeColor" class="snake-color-2"></option>
								<option value="3" ng-bind="3|snakeColor" class="snake-color-3"></option>
								<option value="4" ng-bind="4|snakeColor" class="snake-color-4"></option>
								<option value="5" ng-bind="5|snakeColor" class="snake-color-5"></option>
								<option value="6" ng-bind="6|snakeColor" class="snake-color-6"></option>
							</select>
						</td>
						<td ng-if="player && $index != playerIndex">{{player.ready | yesno}}</td>
						<td ng-if="player && $index == playerIndex"><input type="checkbox" ng-model="player.ready" ng-disabled="player.name.length == 0"></td>
					</tr>
				</tbody>
			</table>
			<p ng-show="canTalk">Hold v to talk</p>
			<a href="#" ng-click="startGame()" class="btn btn-primary" ng-if="playerIndex == 0" ng-disabled="!ready || lobby.$invalid">Start game</a>
			<a ng-if="lobbySettings.local" ui-sref="mainmenu" class="btn btn-default">Leave lobby</a>
			<a ng-if="!lobbySettings.local" ui-sref="browse" class="btn btn-default">Leave lobby</a>
		</div>
		<div class="col-md-4" style="padding-top: 20px;">
			<div class="form-group" ng-class="{'has-error': lobby.scoreLimit.$invalid}">
				<label class="control-label" for="gameSelect">Game</label>
				<select name="gameSelect" ng-disabled="playerIndex != 0" ng-model="lobbySettings.game" ng-options="key as data.name for (key, data) in games" class="form-control"></select>
			</div>
			<div ng-include="'template/gamesettings/'+lobbySettings.game+'.html'"></div>
		</div>
	</div>
</form>
<!-- trigger child controller to fire -->
<div ui-view></div>