<div class="container">
	<h1>{{data.name}}</h1>
	
	<p>
		<strong>Game time:</strong>
		2h50m
	</p>
	
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				<th>Player A</th>
				<th>Player B</th>
				<th>Player C</th>
				<th>Player D</th>
				<th>Player E</th>
				<th>Player F</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Score</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Kill</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Death</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Items collected</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Powerup collected</th>
				<td>1</td>
			</tr>
		</tbody>
	</table>
</div>