<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartoon00.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,163},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,131},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,99},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,67},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,35},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cartoon06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>cartoon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,52},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,52},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,52},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,218},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon14.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,191},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon15.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,164},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>cartoon20.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,195},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>cartoon21.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon22.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon23.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon24.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon25.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,195},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>cartoon30.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,27},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon31.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,27},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon32.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,27},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon33.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon34.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,226},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon35.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,227},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>cartoon40.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,40},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{21,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,35}}</string>
                <key>sourceSize</key>
                <string>{23,35}</string>
            </dict>
            <key>cartoon50.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,209},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon51.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,176},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon52.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,143},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon53.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,110},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon54.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,77},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon55.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>cartoon60.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,136},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>cartoon61.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,108},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>cartoon62.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,80},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>cartoon63.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,52},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>cartoon64.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,27},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>cartoon65.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,27},{23,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,26}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cartoon.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ebce9cec7f22343461678ebd3bff5c2:e47e6ac979c0e4a73c85ba979bcebc5f:db5992a3c620c3fbd9829f04acb68e55$</string>
            <key>textureFileName</key>
            <string>cartoon.png</string>
        </dict>
    </dict>
</plist>
